<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocation Services
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

    <ion-button (click)="findLocationOnce()" expand="full" fill="outline"> Find Location </ion-button>
    <ion-button (click)="findLocationRepeatedly()" expand="full" fill="outline"> Watch Location </ion-button>
    <ion-button (click)="stopFindingLocation()" expand="full" fill="outline"> Stop Watch </ion-button>
    <ion-button (click)="reverseGeocode()" expand="full" fill="outline"> Reverse Geocode </ion-button>
    <ion-button (click)="findLocationAndReverseGeocode()" expand="full" fill="outline"> Find and Reverse Geocode </ion-button>
    <ion-button (click)="forwardGeocode()" expand="full" fill="outline"> Forward Geocode </ion-button>


  <ion-card>
    <ion-card-header>
      Longtitude
    </ion-card-header>
    <ion-card-content>
      {{lon}}
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        Latitude
      </ion-card-header>
      <ion-card-content>
        {{lat}}
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          Reverse Geocode Relying on User
        </ion-card-header>
        <ion-card-content>
          {{address}}
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          Reverse Geocode Independently
        </ion-card-header>
        <ion-card-content>
          {{address}}
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          Forward Geocode Results
        </ion-card-header>
        <ion-card-content>
          {{gpsLocation}}
        </ion-card-content>
      </ion-card>
</ion-content>
